<div class="container" id="wrapper">
    <div class="container" id="main-content">
        <div ng-repeat="element in mongular_content.elements">
            <div mongular-wrapper mongular="{{ element.id }}" mongulartemplate="{{ element.template || 'default' }}"
                 mongulartype="{{ element.controller }}" mongulardyn="{{ element.dynamic_id }}" >
            </div>
        </div>
    </div>
</div>
<ng-include src="'/templates/footer.html'"></ng-include>
<ng-include src="'/templates/google_analytics.html'" ></ng-include>

